/* * { border: 1px solid black; }
*/

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: inherit;
}

h1 {
  color: #E9E9F3;
  font-weight: bold;
}

h2 {
  color: #BFBFDD;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}

hr {
  margin-left: -15px;
  border-style: none;
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
}

.show-starred {
  color: #E9E9F3;
  background: #5356A4;
  font-size: 20px;
  margin-right: 15px;
  margin-bottom: 25px;
  width: 95%;
  height: 45px;
}

main {
  display: flex;
  background: #EAEAF4;
  height: inherit;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  height: 300px;
  background-color: #A9AAD2;
}

.form-width-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  width: 100%;
  height: 75%;
}

#input {
  width: 98%;
}

.user-title {
  height: 60%;
  width: 100%;
  border-color: #5356a4;
  border: 2px solid;
}

.user-body {
  height: 85%;
  border-color: #5356a4;
  border: 2px solid;
}


.body-input-container {
    height: 75px;
    margin-bottom: 10px;
}


label {
  color: #1F1F3D;
  font-weight: bold;
}

.save-button {
  background-color: #1F1F3D;
  color: #E9E9F3;
  font-size: 20px;
  border-color: #5356A4;
  width: 100%;
  height: 15%;
}

.save-button:disabled{
  background-color: #5356a4;
  cursor: not-allowed;
}

button{
  cursor: pointer;
}

.search-bar {
  display: flex;
}

.search-button {
  width: 36px;
  background: #1F1F3D;
  border: none;
  padding-top: 5px;
  border-color: #5356A4;
}

.saved-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.idea-card {
  height: 250px;
  width: 200px;
}

.star {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment {
  display: flex;
  background-color: #5356A4;
  color: white;
}

.card-content {
  padding-left: 15px;
  border: 2px solid #5356A4;
  background: #FFF;
}

.icons {
  width: 33px;
  height: auto;
}

.nav {
  background-color: #1F1F3D;
  width: 30%;
  height: inherit;
  padding-left: 15px;
}
